<h1>Welcome to the Bucket List Online Manager!</h1>

<hr />
<h2>Bucket Lists for user: <%= current_user.first_name %> </h2>
<% if @lists.any? %>
      <div class= "list_block">
        <% @list.each do |list| %>
          <%= link_to "#{list.name} Bucket List", user_lists_path(current_user, list) %>
        <% end %>
      </div>
<% else %>
  <h2>No Bucket Lists</h2>
  <hr />
<% end %>
<%= link_to 'New List', new_list_path(current_user)%></h5>
 