<div class="header">
<h1>Welcome to the Bucket List Online Manager!</h1>
<p>Where we make your dreams come true</p>
<p>....or else....</p>
</div>

<hr />
<div class="container">
<h3>Bucket Lists for user: <%= current_user.first_name %> </h3>
<% if @lists.any? %>
      <div class= "list_block">
        <% @list.each do |list| %>
          <%= link_to "#{list.name} Bucket List", user_lists_path(current_user, list) %>
        <% end %>
      </div>
<% else %>
  <p>No Bucket Lists</p>
<% end %>
<%= link_to 'New List', new_list_path(current_user)%></h5>
</div>


