
body {
  background:url('http://1.bp.blogspot.com/_5Z2qPKcYFhI/Sxe-n9_w3BI/AAAAAAAAAAo/Z5_3d5ETyYM/S1600-R/SandyLohheaderpicture.jpg') no-repeat;
  background-size: cover;  
  color: hsla(25, 100%, 57%, 1);
}

h1 {
  color: #fff;

}

h2 {
  font-size: 36px;
  color: #9575CD;
}

h1, 
p,
h2 {
  text-align: center;
}

.list_block {
  border-radius: 5px;
  background-color: #ffcdd2;
  align-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

.list_block:hover{
  background-color: hsla(270, 51%, 56%, 0.84);

}

hr {
  clear:left;
}



.header {
  align-content: center;
  background: url('http://www.starwallpapers.com/walls/mountains_hd_widescreen_high_resolutions_backgrounds_wallpapers_laptop_desktop_14-HD.jpg') no-repeat;
  background-size: cover;
  padding-top: 200px;
  margin-top: -30px;
  width: 100%;
  text-align: center;
  height: 700px;
  background-color: black;
  text-align: center;
}

.header h1 {
  font-family: 'Homemade Apple';
}



a {
  color: hsla(42, 85%, 39%, 1);
  text-decoration: none;
  font-family: Ariel;

}


.button_link:hover {
  background-color: hsla(238, 100%, 69%, 1);
  
}


.bottom-half {
  padding-top: 10px;
  background: #fff;
  height: 800px;
  margin-top: -23px;
}

.logout {
  clear:left
}


