body {
  background:url('http://1.bp.blogspot.com/_5Z2qPKcYFhI/Sxe-n9_w3BI/AAAAAAAAAAo/Z5_3d5ETyYM/S1600-R/SandyLohheaderpicture.jpg') no-repeat;
  background-size: cover;  
}
h1 {
  background-color: rgba(255, 0, 0, 0.4);
  text-align: center;
  color: #2c1e4f;

}


.list_block {
  margin: 100px;
  border-radius: 5px;
  background-color: blue;
}


.container {
  color: #fff;
  text-align: center;
}

.header {
  text-align: center;
}